.checkoutContainer {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* text-align: start; */
}
.checkoutContainer img {
  margin-left: 10px;
  height: 100px;
  width: 100px;
}
.products {
  display: flex;
  margin: 10px 10px;
  justify-content: center;
  align-items: stretch;
  justify-content: space-between;
}
.products p {
  margin: 10px 10px;
  align-items: center;
}
.checkoutEmptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.checkoutEmptyContainer button {
  margin: 20px 5px;
  background-color: rgb(0, 101, 179);
  color: white;
  border: 1px solid rgb(0, 101, 185);
  padding: 10px 15px;
  border-radius: 2px;
}
.checkoutEmptyContainer button:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 2px rgb(0, 101, 185); */
  color: rgb(0, 101, 179);
  background-color: white;
  border: 1px solid rgb(0, 101, 185);
  border-radius: 2px;
}
.products .description {
  display: flex;
  flex-direction: column;
}
.products .total {
  display: flex;
  flex-direction: column;
}
.products .quantity > * {
  margin: 10px 5px;
}
.checkoutContainer .btn button {
  background-color: rgb(0, 101, 179);
  color: white;
  border: 1px solid rgb(0, 101, 185);
  padding: 5px 10px;
  border-radius: 2px;
  margin-top: 5px;
}
.checkoutContainer .btn button:hover {
  color: rgb(0, 101, 179);
  background-color: white;
  border: 1px solid rgb(0, 101, 185);
  border-radius: 2px;
}
