.detail button {
  color: white;
  background-color: #0065b3;
  outline: none;
  border: 1px solid rgb(0, 101, 185);
  padding: 10px 15px;
  border-radius: 2px;
}
.detail button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
